.button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;


}
.button2 {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.button3 {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.optionImage {
display: block;
  width: 400px;
  height: 300px;          /* ← Taller height */
  object-fit: cover;      
  object-position: center;
  cursor: pointer;
  margin: 0;
  padding: 0;

}

.optionImage1 {
display: block;
  width: 400px;
  height: 300px;          /* ← Taller height */
  object-fit: cover;      
  object-position: center;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.optionImage2 {
display: block;
  width: 400px;
  height: 300px;          /* ← Taller height */
  object-fit: cover;      
  object-position: center;
  cursor: pointer;
  margin: 0;
  padding: 0;
}